page-forecast {
	ion-header
	{
		button
		{
			background-color: transparent !important;
		}
	}

	ion-content
	{
		background-color: black;
		background-image: url(https://image.freepik.com/free-vector/blurred-background-design_1107-224.jpg);
		background-size: cover;

		h3
		{
			text-align: center;
			color: #fff;
			text-transform: uppercase;
			span 
			{
				color: #ffbaba;
			}
		}

		.item
		{
			padding: 20px;
			color: #fff;
			border-bottom: solid 1px rgba(0,0,0,0.1);
			div
			{
				float: left;
				width: 50%;
				&:first-child
				{
					span 
					{
						color: #c7c7c7;
						font-size: 12px;
					}
				}
				&:last-child
				{
					text-align: right;
					h5
					{ 
						display: inline-block;
						font-size: 25px;
						span 
						{
							font-size: 12px;
							top: -20px;
							position: relative;

						}
					}
					img 
					{
						position: relative;
						top: 20px;
					}
				}
			}
		}
	}
}
