// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


/*
ion-content
{
	background-color: black;
	background-image: url(https://image.freepik.com/free-vector/blurred-background-design_1107-224.jpg);
	background-size: cover;

	button
	{
		background-color: transparent !important
	}
}
*/
.menu-inner
{
	ion-content
	{
		background-image: url(https://ak3.picdn.net/shutterstock/videos/10476443/thumb/1.jpg);
		background-size: cover;

		.menuHead
		{
			text-align: center;
			width: 100%;
			padding-top: 30px;
			img 
			{
				border-radius: 50%;
				border: solid 3px cyan; 
				border-right: solid 3px #333333;
			}
			h5
			{
				color: #fff;
			}
		}

		button
		{
			display: block;
		    width: 100%;
		    border-radius: 0;
		    padding: 20px;
		    font-size: 14px;
		    background: transparent;
		    text-align: left;
		    color: #fff;
		}
	}
}
.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before
{
	background-image: none !important; 
}
button
{
	box-shadow: none !important;
}